.about {
  margin-bottom: 140px;
  position: relative;
  display: flex;
  justify-content: center;

  .slick-dots {
    width: 10px;
    right: 370px;
    bottom: 262px;
    display: block;
    position: absolute;

    li {
      display: block;

      & + li {
        margin-top: 30px;
      }

      button::before {
        font-size: 10px;
      }
    }
  }

  &__slide {
    display: flex;
    justify-content: center;

    &-inner {
      position: relative;

      &__info {
        left: 140px;
        bottom: 120px;
        position: absolute;

        .text {
          color: #151515;
          margin-top: 36px;
          max-width: 460px;

          p + p {
            margin-top: 25px;
          }
        }
      }
    }
  }
}

.about__slider-wrapper {
  width: 1440px;
  position: relative;

  .slick-dots {
    right: 140px;
  }
}

@media (max-width: 1440px) {
  .about__slider-wrapper {
    width: 640px;

    .slick-dots {
      right: 40px;
      bottom: 133px;

      li button::before {
        font-size: 10px;
      }
    }
  }

  .about__slide-inner__info {
    left: 40px;
    bottom: 69px;

    .text {
      font-size: 14px;
      margin-top: 20px;
      line-height: 160%;
    }
  }
}

@media (max-width: 640px) {
  .about__slider-wrapper {
    width: 320px;

    .slick-dots {
      display: flex !important;
      bottom: 32px;
      left: 105px;

      li {
        button::before {
          color: #F1F1F1;
        }

        & + li {
          margin: 0 0 0 15px;
        }
      }
    }
  }

  .about__slide-inner__info {
    left: 20px;

    .text {
      width: 280px;
      color: #F1F1F1;
      font-size: 12px;
      line-height: 170%;
    }
  }
}