.about {
  margin-bottom: 140px;
  position: relative;

  .slick-dots {
    width: 10px;
    right: 370px;
    bottom: 262px;
    display: block;
    position: absolute;

    li {
      display: block;

      & + li {
        margin-top: 30px;
      }

      button::before {
        font-size: 10px;
      }
    }
  }

  &__slide {
    display: flex;
    justify-content: center;

    &-inner {
      position: relative;

      &__info {
        left: 140px;
        bottom: 120px;
        position: absolute;

        .text {
          color: #151515;
          margin-top: 36px;
          max-width: 460px;

          p + p {
            margin-top: 25px;
          }
        }
      }
    }
  }
}

@media (max-width: 1440px) {
  .about .slick-dots {
    right: 40px;
    bottom: 165px;

    li button::before {
      font-size: 15px;
    }
  }

  .about {
    &__slide-inner {
      width: 640px;
      height: 420px;

      img {
        width: 100%;
      }
    }
  }

  .about__slide-inner__info {
    left: 40px;
    bottom: 69px;

    .text {
      font-size: 14px;
      margin-top: 20px;
      line-height: 160%;
    }
  }
}

@media (max-width: 640px) {

}