.switch {
  height: 54px;
  width: 248px;
  display: block;
  cursor: pointer;
  position: relative;
  border-radius: 108px;

  &__input {
    display: none;

    &:checked + .switch__slider::before {
      transform: translateX(125px);
    }
  }

  &__slider::before {
    left: -3px;
    width: 50%;
    content: '';
    height: 49px;
    position: absolute;
    transition: all .3s;
    border-radius: 108px;
  }

  &__white,
  &__black {
    top: 14px;
    font-size: 16px;
    font-weight: 700;
    line-height: 150%;
    position: absolute;
  }

  &__white {
    left: 35px;
    color: #151515;
  }

  &__black {
    right: 37px;
    color: #F1F1F1;
  }
}

.switch.dark {
  border: 3px solid #F1F1F1;

  .switch__slider {
    &::before {
      background-color: #F1F1F1;
    }
  }
}

.switch.light {
  border: 3px solid #151515;

  .switch__slider {
    &::before {
      background-color: #151515;
    }
  }
}

@media (max-width: 320px) {
  .switch {
    width: 220px;

    &__input {
      &:checked + .switch__slider::before {
        transform: translateX(111px);
      }
    }
  }
}