.switch {
  height: 54px;
  width: 248px;
  display: block;
  cursor: pointer;
  position: relative;
  border-radius: 108px;
  border: 3px solid #F1F1F1;

  &__input {
    display: none;

    &:checked + .switch__slider::before {
      transform: translateX(122px);
    }
  }

  &__slider {

    &::before {
      left: 0;
      width: 50%;
      content: '';
      height: 100%;
      position: absolute;
      border-radius: 108px;
      background-color: #F1F1F1;
    }
  }

  &__white,
  &__black {
    top: 14px;
    font-size: 16px;
    font-weight: 700;
    line-height: 150%;
    position: absolute;
  }

  &__white {
    left: 35px;
    color: #151515;

    &.switched {
      color: #F1F1F1;
    }
  }
  &__black {
    right: 37px;
    color: #F1F1F1;

    &.switched {
      color: #151515;
    }
  }
}