.button {
  border: none;
  color: #151515;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  line-height: 150%;
  padding: 15px 35px;
  border-radius: 65px;
  background-color: #F1F1F1;

  &.orange {
    color: #fff;
    background-color: #FF4C0D;
  }
}