.qas {
  margin-bottom: 126px;

  &__inner {
    width: 100%;
    display: flex;
    justify-content: space-between;

    &-block {
      max-width: 415px;
      width: 100%;

      &__text {
        max-width: 360px;
        margin: 45px 0 65px;

        p + p {
          margin-top: 24px;
        }
      }
    }

    &-list {
      width: 660px;
    }
  }
}

.qa {
  margin-bottom: 54px;

  &__title {
    font-size: 20px;
    font-weight: 600;
    line-height: 120%;
    margin-bottom: 20px;
  }

  &__text {
    margin-top: 23px;
  }
}

@media (max-width: 1440px) {
  .qas {
    margin-bottom: 35px;

    &__inner {
      display: block;

      &-block {
        margin-bottom: 89px;

        .block-title {
          font-size: 29px;
        }

        &__text {
          margin: 30px 0 36px;
        }
      }

      &-list {
        width: 100%;
      }
    }
  }

  .qa {
    .horizontal {
      width: 150px;
    }
  }
}

@media (max-width: 640px) {
  .qas {
    margin-bottom: 66px;

    &__inner {
      &-block {
        margin-bottom: 67px;

        &__text {
          margin: 29px 0 21px;
        }

        button {
          width: 100%;
        }
      }

      &-list {
      }
    }
  }

  .qa {
    margin-bottom: 43px;

    &__title {
      font-size: 15px;
    }
  }
}