.qas {
  margin-bottom: 126px;

  &__inner {
    width: 100%;
    display: flex;
    justify-content: space-between;

    &-block {
      max-width: 415px;
      width: 100%;

      &__text {
        max-width: 360px;
        margin: 45px 0 65px;

        p + p {
          margin-top: 24px;
        }
      }
    }

    &-list {
      width: 660px;
    }
  }
}

.qa {
  margin-bottom: 54px;

  &__title {
    font-size: 20px;
    font-weight: 600;
    line-height: 120%;
    margin-bottom: 20px;
  }

  &__text {
    margin-top: 23px;
  }
}