.block-title {
  width: 100%;

  h2 {
    font-size: 45px;
    font-weight: 500;
    line-height: 110%;
  }

  &__subtitle {
    color: #FF4C0D;
    font-size: 35px;
    margin: 20px 0 39px;
  }
}

@media (max-width: 640px) {
  .block-title {
    h2 {
      font-size: 30px;
      font-weight: 600;
      line-height: 110%;
    }
  }
}

@media (max-width: 320px) {
  .block-title {
    h2 {
      font-size: 25px;
      line-height: 120%;
    }
  }
}