.block-title {
  width: 100%;
  color: #FF4C0D;

  h2 {
    font-size: 45px;
    font-weight: 500;
    line-height: 110%;
  }

  &__subtitle {
    font-size: 35px;
  }

  &.white {
    color: #fff;

    .block-title__subtitle {
      color: #FF4C0D;
      margin: 20px 0 39px;
    }
  }
}