.main {
  margin-bottom: 267px;
  padding-top: 240px;

  &__inner {

    &-title {
      font-size: 80px;
      font-weight: 600;
      line-height: 100%;
      margin-bottom: 30px;
      color: var(--f-1-f-1-f-1, #F1F1F1);
    }

    &-subtitle {
      font-size: 30px;
      font-weight: 600;
      line-height: 120%;
      margin-bottom: 68px;
      color: var(--ff-4-c-0-d, #FF4C0D);
    }
  }
}