.main {
  padding-top: 240px;
  margin-bottom: 267px;

  &__inner {
    width: 100%;

    &-title {
      font-size: 80px;
      font-weight: 600;
      max-width: 1065px;
      line-height: 100%;
      margin-bottom: 30px;
    }

    &-subtitle {
      color: #FF4C0D;
      font-size: 30px;
      font-weight: 600;
      line-height: 120%;
      margin-bottom: 68px;
    }
  }
}

.main.light {
  .main__inner-title{
    color: #FF4C0D;
  }

  .main__inner-subtitle {
    color: #151515;
  }
}

@media (max-width: 1440px) {
  .main {
    margin-bottom: 162px;

    &__inner {
      &-title {
        color: #FF4C0D;
        font-size: 40px;
        line-height: 120%;
        margin-bottom: 39px;
      }

      &-subtitle {
        color: #F1F1F1;
        font-size: 20px;
        line-height: 120%;
        margin-bottom: 53px;
      }
    }
  }
}

@media (max-width: 640px) {
  .main {

    &__inner {

      &-title {
        font-size: 33px;
        line-height: 100%;
        margin-bottom: 27px;
      }

      &-subtitle {
        font-size: 16px;
        margin-bottom: 34px;
      }
    }
  }
}