.tabs {
  &__inner {
    width: 100%;
    position: relative;

    &-list {
      display: flex;
      margin-top: 79px;
      position: relative;
      margin-bottom: 36px;
      justify-content: space-between;

      .progress-horizontal {
        top: 47px;
        width: 100%;
        height: 3px;
        position: absolute;
        background-color: #d9d9d9;

        span {
          width: 33%;
          height: 3px;
          content: "";
          display: block;
          background-color: #FF4C0D;
          transition: all .55s;
        }
      }

      &.advantages {
        .tab {
          max-width: 360px;
        }
      }

      &.safety {
        .tab {
          max-width: 260px;
        }
      }

      .tab {
        opacity: .5;
        cursor: pointer;

        &.active {
          opacity: 1;
        }

        &__title {
          font-size: 20px;
          font-weight: 600;
          line-height: 120%;
          margin-bottom: 46px;
        }
      }
    }

    &-photos {
      display: flex;
      justify-content: space-between;

      .tab-photo {
        width: 760px;
        height: 400px;
        display: none;

        &.active {
          display: block;
        }
      ;
      }

      .default-photo {
        width: 360px;
        height: 300px;
      }
    }
  }
}

.tabs.advantages {
  margin-bottom: 120px;
}

.tabs.safety {
  margin-bottom: 258px;
}

@media (max-width: 1440px) {
  .default-photo,
  .progress-horizontal {
    display: none;
  }

  .tabs.advantages,
  .tabs.safety {
    margin-bottom: 80px;

    .tabs__inner {
      &-list {
        display: block;
        margin-top: 55px;

        .tab {
          max-width: unset;
          margin-bottom: 376px;

          &__title {
            margin-bottom: 20px;
            color: #FF4C0D;
            position: relative;

            &::before {
              content: "";
              position: absolute;
              height: 2px;
              width: 150px;
              background-color: #FF4C0D;
              bottom: -20px;
            }
          }

          &__text {
            margin-top: 43px;
          }
        }
      }

      &-photos {
        display: block;
        position: absolute;
        top: 283px;

        .tab-photo {
          width: 100%;
          height: auto;

          &.active-1 {
            margin-top: 36px;
          }

          &.active-2,
          &.active-3 {
            margin-top: 135px;
          }
        }
      }
    }
  }

  .tabs.safety {
    margin-bottom: 90px;

    .tabs__inner {
      &-list .tab {
        margin-bottom: 375px;
      }

      &-photos {
        top: 170px;

        .tab-photo.active-1 {
          margin-top: 40px;
        }

        .tab-photo.active-2 {
          margin-top: 157px;
        }

        .tab-photo.active-3 {
          margin-top: 133px;
        }

        .tab-photo.active-4 {
          margin-top: 136px;
        }
      }
    }
  }
}

@media (max-width: 640px) {
  .tabs.advantages,
  .tabs.safety {
    margin-bottom: 60px;

    .tabs__inner {
      &-list {
        margin-top: 40px;

        .tab {
          margin-bottom: 210px;

          &__title {
            font-size: 15px;

            &::before {
              width: 100px;
            }
          }

          &__text {
            margin-top: 35px;
          }
        }
      }

      &-photos {
        top: 414px;

        .tab-photo.active-1 {
          margin-top: -10px;
        }

        .tab-photo.active-2 {
          margin-top: 193px;
        }

        .tab-photo.active-3 {
          margin-top: 172px;
        }
      }
    }
  }

  .tabs.safety {
    margin-bottom: 70px;

    .tabs__inner-photos {
      top: 210px;

      .tab-photo.active-1 {
        margin-top: 20px;
      }

      .tab-photo.active-2,
      .tab-photo.active-3 {
        margin-top: 194px;
      }

      .tab-photo.active-4 {
        margin-top: 160px;
      }
    }
  }
}