.header {
  z-index: 1;
  width: 100%;
  display: flex;
  position: fixed;
  padding: 40px 0;
  align-items: center;
  margin-bottom: 130px;
  justify-content: center;
  background-color: transparent;
  transition: all .3s;

  &.on-scroll {
    background-color: #151515;
  }

  &__inner {
    width: 100%;
    display: flex;
    padding: 0 140px;
    max-width: 1440px;
    align-items: center;
  }

  a:hover {
    opacity: .5;
  }

  &__logo {
    margin-right: 80px;
  }

  &__nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-menu {
      display: flex;

      li {
        & + li {
          margin-left: 42px;
        }
      }
    }
  }
}

.header.light {
  a {
    color: #151515;
  }
  &.on-scroll {
    a {
      color: #F1F1F1;
    }
  }
}

@media (max-width: 640px) {
  .header {

  }
}