.header {
  width: 100%;
  display: flex;
  padding-top: 40px;
  align-items: center;
  background-color: transparent;
  margin-bottom: 130px;

  &__logo {
    margin-right: 80px;
  }

  &__inner {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-menu {
      display: flex;

      li {
        color: var(--f-1-f-1-f-1, #F1F1F1);

        & + li {
          margin-left: 42px;
        }
      }
    }
  }
}