.footer {
  width: 100%;
  display: flex;
  padding-bottom: 66px;
  background-color: transparent;
  justify-content: space-between;

  &__info {
    text-align: right;
  }
}

@media (max-width: 1440px) {
  .footer {
    display: block;
    font-size: 14px;
    font-weight: 400;
    line-height: 190%;
    padding-bottom: 40px;

    &__privacy,
    &__info {
      width: 100%;
      text-align: center;
    }
  }
}

@media (max-width: 640px) {
  .footer {
    font-size: 12px;
    font-style: normal;
    padding-bottom: 30px;
  }
}