.speed {
  margin-bottom: 135px;

  &__inner {
    position: relative;

    &-content {
      top: 120px;
      left: 140px;
      color: #F1F1F1;
      position: absolute;

      .icon {
        margin-bottom: 165px;
      }

      &__title {
        font-size: 45px;
        font-weight: 500;
        line-height: 110%;
        margin-bottom: 48px;
      }
    }
  }
}

@media (max-width: 640px) {
  .speed__inner-content {
    left: 440px;

    &__title {
      font-size: 30px;
      font-weight: 600;
      margin-bottom: 35px;
    }

    &__text {
      font-size: 14px;
      line-height: 160%;
    }
  }
}

@media (max-width: 320px) {
  .speed__inner-bg {
    margin-left: -260px;
  }

  .speed__inner-content {
    left: 450px;

    &__title {
      font-size: 25px;
      line-height: 120%;
      margin-bottom: 30px;
    }

    &__text {
      font-size: 12px;
      line-height: 170%;
    }
  }
}