.speed {
  margin-bottom: 135px;

  &__inner {
    position: relative;

    &-bg {

    }

    &-content {
      top: 120px;
      left: 140px;
      color: #F1F1F1;
      position: absolute;

      .icon {
        margin-bottom: 165px;
      }

      &__title {
        font-size: 45px;
        font-weight: 500;
        line-height: 110%;
        margin-bottom: 48px;
      }

      &__text {

      }
    }
  }
}