.mobile-app {
  margin-bottom: 120px;

  &__inner {
    width: 100%;
    display: flex;
    position: relative;

    &-info {
      max-width: 505px;

      .text {
        margin: 48px 0 67px;
      }

      .links {
        a + a {
          margin-left: 20px;
        }
      }
    }

    &-image {
      left: 595px;
      top: -137px;
      position: absolute;
    }
  }
}