.mobile-app {
  margin-bottom: 120px;

  &__inner {
    width: 100%;
    display: flex;
    position: relative;

    &-info {
      max-width: 505px;

      .text {
        margin: 48px 0 67px;
      }

      .links {
        a + a {
          margin-left: 20px;
        }
      }
    }

    &-image {
      left: 595px;
      top: -137px;
      position: absolute;
    }
  }
}

@media (max-width: 1440px) {
  .mobile-app {
    margin-bottom: 80px;

    .block-title h2 {
      font-size: 30px;
      font-weight: 600;
      max-width: 314px;
      line-height: 110%;
    }

    &__inner {
      &-info {
        .text {
          font-size: 14px;
          font-weight: 400;
          line-height: 160%;
          margin: 30px 0 46px;
        }
      }

      &-image {
        top: -30px;
        left: unset;
        width: 220px;
        right: -25px;
        height: 437px;
      }
    }
  }
}

@media (max-width: 640px) {
  .mobile-app {
    margin-bottom: 400px;

    .block-title h2 {
      font-size: 25px;
      line-height: 120%;
    }

    &__inner {
      &-info {
        .text {
          font-size: 12px;
          font-weight: 400;
          line-height: 170%;
          margin: 24px 0 36px;
        }
      }

      .links {
        display: flex;
      }

      &-image {
        left: 30px;
        top: 292px;
      }
    }
  }
}