*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    transition: all .1s;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -0.14px;
    font-family: Gilroy, sans-serif;
}

ul {
    list-style: none;
}

a {
    color: #fff;
    text-decoration: none;
}

.app.dark {
    background-color: #222;
    color: #F1F1F1;
}

.app.light {
    background-color: #E0E0E0;
    color: #151515;
}