*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    transition: all .3s;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
}

body {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
    font-style: normal;
    letter-spacing: -0.14px;
    font-family: Gilroy, sans-serif;

    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('images/main-bg.png');
}

ul {
    list-style: none;
}

a {
    color: #fff;
    text-decoration: none;
}