.product {
  margin-bottom: 66px;

  &__inner {
    width: 100%;
    display: flex;
    border-radius: 15px;
    padding: 77px 80px 60px 63px;
    background-repeat: no-repeat;
    justify-content: space-between;
    background-image: url("../../images/product-bg.png");

    &-info {
      max-width: 494px;

      .button {
        margin-top: 197px;
      }
    }

    &-set {
      &__title {
        font-size: 20px;
        font-weight: 600;
        line-height: 120%;
        margin-bottom: 35px;
      }

      &__list {

        li + li {
          margin-top: 12px;
        }
      }
    }
  }
}

.product.light {
  .product__inner {
    background-image: unset;
    background-color: #fff;
  }
}

@media (max-width: 640px) {
  .product__inner {
    padding: 45px 0 47px 42px;
    background-color: #151515;
  }

  .product__inner-info .button {
    margin-top: 110px;
  }

  .product__inner-set {
    display: none;
  }
}

@media (max-width: 320px) {
  .product__inner {
    padding: 36px 30px 37px;

    .block-title {
      width: 220px;
    }

    .button {
      margin-top: 296px;
    }
  }
}