.product {
  margin-bottom: 66px;

  &__inner {
    width: 100%;
    display: flex;
    border-radius: 15px;
    padding: 77px 80px 60px 63px;
    background-repeat: no-repeat;
    justify-content: space-between;
    background-image: url("../../images/product-bg.png");

    &-info {
      max-width: 494px;

      .button {
        margin-top: 197px;
      }
    }

    &-set {

      &__title {
        color: #FFF;
        font-size: 20px;
        font-weight: 600;
        line-height: 120%;
        margin-bottom: 35px;
      }

      &__list {

        li + li {
          margin-top: 12px;
        }
      }
    }
  }
}